.container {
    border: 1px solid;
    width: 400px;
    padding: 5px;
    display: flexbox;
    flex-wrap: wrap;
    align-content: space-between;
    margin: auto;
}
.marge {
    padding: 20px;
  }
.table {
    border-top: 10px solid;
}
table{
    width: 100%;
}

.end{
    text-align: center;
    margin-top: 3px;
}
.table {
    border-collapse: collapse;
  }
  tr { 
    border: solid;
    border-width: 1px 0;
  }
  .table2 {
    border: 1px solid 0;
  }
  