.container {
    border: 1px solid;
    width: 400px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
}
.marge {
    padding-left: 20px;
  }

table{
    width: 100%;
    margin-right: 0px;
}

.end{
    text-align: center;
}
.table {
    border-collapse: collapse;
    border-top: 10px solid;
  }
  tr { 
    border: solid;
    border-width: 1px 0;
  }
.table2 {
    border-bottom: 1px solid;
    border-top: 1px solid;
  }
